$principal: #021626;
$principal-trans: rgba(2, 22, 38, 0.9);
$secundario: #073846;
$secundario-trans: rgba(7, 56, 70, 0.9);
$terciario: #072736;
$terciario-trans: rgba(7, 39, 54, 0.9);

$info: #259385;
$info-1: #0cd9dc;
$info-2: #5bc0de;

$claro: #e0ebed;
$claro-1: #f7f7f7;
$claro-2: #a9a9a9;

$danger: #dc143c;
$danger-1: #d9534f;
$danger-2: #bf3d64;

$edit: #ff8c00;
$edit-1: #f0ad4e;

$success: #008000;
$success-1: #00b74a;

$black: black;
$dark: #2f2f2f;
$dark-1: #292b2c;
$dark-2: #30313e;

$dark-bg: #262626;
$gray-1: #bcb4b4;
$gray-2: #363636;
$deep-dark: #1e1e1e;

$primary: #0275d8;
