/*=== Inicio de: Cambiando estilo de TIPO DE LETRA ===*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&display=swap");
$font-family-sans-serif: "Oswald", sans-serif;

/*=== Inicio de: Cambiando variables de colores ===*/
$info: #021626;

/*=== Inicio de: Estilos Propios ===*/
.box_shadow {
    box-shadow: 0 0 3px rgba($color: $info, $alpha: 30);
}

.spacing {
    letter-spacing: 1px;
}

.menu__link {
    :hover {
        color: crimson !important;
    }
}

img {
    max-width: 100%;
}

/*=== Inicio de: Estilos carousel ===*/
.carousel__container {
    height: 100vh !important;
    overflow: hidden;
    position: relative;
}

.carousel__titulo {
    display: flex;
    flex-direction: column;
    left: 3vh;
    top: 50%;
    justify-content: center;
    position: absolute;
}

/*=== estilo parallax ===*/
.main__paralax {
    width: 100%;
    background-image: url("../assets/images/fondo-paralax1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.main__paralax::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #555660, $alpha: 0.7);
    z-index: 200;
}

.difuminado {
    background-color: rgba(180, 180, 180, 0.3);
    backdrop-filter: blur(20px);
}

.text__claro {
    z-index: 300;
    color: #fff;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/*=== 
    Para reducir linea de codigo debemos:
    1.- instalar npm i -g purgecss
    2.- en package json buscar la seccion script
        "purgarcss": "purgecss --css css/custom.css --content index.html -o css/reducido.css"
    3.- npm run purgarcss

    nota: css/custom.css es el archivo a purgar 
            --content index.html es el archivo donde esta ubicado
            css/reducido.css es el archivo donde estara reducido
===*/
